<div class="text-muted">
    <span>Courtesy of Serhant</span>
    <span>All information deemed reliable but not guaranteed and should be independently verified. All properties are
        subject to prior sale, change or withdrawal. Neither listing broker(s) nor Philip Scheinfeld shall be
        responsible for any typographical errors, misinformation, misprints and shall be held totally harmless.
    </span>
    <span>©2023 Real Estate Board of New York. All rights reserved.</span>

    <span>Data last updated 9:12 AM UTC, 2/26/23</span>
    <span>Powered by  Luxury Presence</span>

</div>