section{
    font-family: sans-serif;
}
.top-footer{
    p{
        margin: 11px 0;
        font-family: "Montserrat", sans-serif;
    }
}
.top-footer , .bottom-footer{
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 10.66px;
    margin: 2rem 0;
    padding: 2rem 2rem;
    
}

.bottom-footer__img{
    img{
        max-width: 203px;
        max-height: 45px;
        width: 100%;
    }
}
