<section>
    <div class="top-footer">
        <p >
            <span>
            The multiple listing information is provided by the Miami Association of REALTORS® from a copyrighted
            compilation of listings. The compilation of listings and each individual are ©2023 Miami Association of
            REALTORS® all Rights Reserved.
        </span>
        </p>

        <p>
            <span>
            The information provided is for consumer's personal, non-commercial use and may not be used for any purpose
            other than to identify prospective properties consumers may be interested in purchasing. All properties are
            subject to prior sale or withdrawal. All information provided is deemed reliable but is not guaranteed
            accurate, and should be independently verified. Property locations as displayed on any map are best
            approximations only and exact locations should be independently verified.
        </span>
        </p>
    </div>

    <div class="bottom-footer">
        <p>
            The data relating to real estate for sale on this web site comes in part from the Real Estate Board of New
            York. Real estate listings held by brokerage firms other than Philip Scheinfeld are marked with the IDX logo
            and detailed information about them includes the name of the listing brokers. All information deemed
            reliable but not guaranteed and should be independently verified. All properties are subject to prior sale,
            change or withdrawal. Neither listing broker(s) nor Philip Scheinfeld shall be responsible for any
            typographical errors, misinformation, misprints and shall be held totally harmless. Property loca
        </p>
        <div class="bottom-footer__img">
            <img src="../../../../assets/footer.jpg" alt="" srcset="">
        </div>
    </div>
</section>